<h2 class="ui center aligned icon header">
  <i class="circular grey users icon home-icon-adjust"></i>
  Welcome to the <em>Message Me</em> Chatroom!
</h2>

<div class="ui middle aligned center aligned grid">
  <div class="twelve wide column">
    <h3 class="ui header">
      <div class="content">
        Login to your account
      </div>
    </h3>
    <%= form_for(:session, url: login_path, html: {class: "ui form"}) do |f| %>
      <div class="ui raised segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, type: "email", class: "input", placeholder: "E-mail address", autofocus: true %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, class: "input", placeholder: "Password", autocomplete: "off" %>
          </div>
        </div>
        <%= f.submit("Login", class: "ui large secondary submit button") %>
    <% end %>
    <div class="ui message">
   		<p>New to us? <a href="#">Sign Up</a></p>
    </div>
  </div>  
</div>