<h2 class="ui center aligned icon header">
  <i class="circular grey paper plane icon home-icon-adjust"></i>
  Signup for the <em>Message Me</em> Chatroom!
  
</h2>
<h3 class="ui center aligned header">
	<div class="content">
        Enter your account details
	</div>
</h3>

<%= render 'form', message_type: "create" %>