@import "semantic-ui";
body {
	background-color: beige;
}

.navbar-adjust {
	margin-bottom: 1rem !important;	
}

.home-icon-adjust {
	background-color: #ADD8E6;
}

.button-color {
	color: #303030 !important;
	background-color: #ADD8E6 !important;
}

.chatbox {
	height: 700px;
}